<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Cal Hotels </title>
</head>
<body>
<ul>
{{range .}}
<li>
<h2>{{.Name}}</h2>
<h3>{{.Region | .GetRegion}}</h3>
Address:
<h3>{{.Address}}</h3>
<h3>{{.City}}</h3>
<h3>{{.Zip}}</h3>
</li>
{{end}}
</ul>
</body>