<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<title>Standensoft Home</title>
		</head>
		<body>
			<h1>Home Page</h1>
			<a href="/contact">Contact Us</p>
		</body>
	</html>